 #show {
    font-size: 19px;
    background:transparent;
    width:50px;
    height:50px;
    position: absolute;
    right:0;
    top:-5px;

  }
  #show:hover {
    font-size: 25px;
  }

    /* Sidebar Styles */
    #customBox {
        position: fixed;
        top: 0; 
        right:-300px; /* Initially hide on the right */
        width: 250px;
        height: 100%;
        background-color: #333;
        color: white;
        transition: right 0.3s ease-in-out; /* Smooth transition */
        padding: 20px;
    }

    #customBox.active {
        right: 0; /* Move to the right when active */
    }

    #customBox .custom-box {
        margin-bottom: 7px;
    }

    #customBox .color-picker-container {
        margin-top:25px;
        width: 180px;
    }
    .p1 {
text-align: left;
color: #99f3ff;
margin-top: 30px;
text-transform: uppercase;
margin-bottom: 0;
    }
.p2 {
text-align: left;
color: #99f3ff;
margin-top: 0;
text-transform: uppercase;
margin-bottom: 2px; 
}
    /* Sidebar Button */
    #show {
        font-size: 30px;
        color: #bbe7ff;
        background-color: none;
        border: none;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }

.custom-box {
    display:flex;
    margin-bottom:4px;
}
.dark-mode {
    background-color: #3a3d45;
    color: white;
}

.dark-mode header {
    background-color: rgb(52, 122, 132);
}

.dark-mode th {
    background-color: rgb(52, 122, 132);
    color: white;
}

.dark-mode .title {
    color: #dffbff;
}

.dark-mode table {
    border-color: rgb(52, 122, 132);
    background-color: rgba(202, 231, 235, 0.176);
    color: black;
}

.dark-mode .title2 {
    color: #99f3ff;
}

.dark-mode .title3 {
    color: #99f3ff;
}

.dark-mode .red {
    color: rgb(209, 36, 36);
    background-color: rgba(220, 162, 162, 0.678);
    font-weight: bolder;
}

.dark-mode button {
    background-color: #3c8545;
    color: white;
}
.dark-mode #suggestions {
    color: #99f3ff;
}

.dark-mode .deletebtn {
    background-color: #8e2222;
    color: white;
}

.dark-mode .mostrabtn {
    background-color: #cb9319;
    color: white;
}

.dark-mode input[type="text"], .dark-mode input[type="date"], .dark-mode #quantity {
    background-color: #727272b8;
    color: rgb(150, 250, 255);
    border: 1px solid #555;
    border-radius: 3px;
}


    /* DarkMode */

    #dmlabel {
        top:-10px;
        margin-left: 5px;
width:90px;
height:30px;
display:block;
position:relative;
background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7eda5add-d31d-410f-9fdc-3f5682890498/dis8jnt-5d4bda21-f106-4889-8498-d1191ae8540d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdlZGE1YWRkLWQzMWQtNDEwZi05ZmRjLTNmNTY4Mjg5MDQ5OFwvZGlzOGpudC01ZDRiZGEyMS1mMTA2LTQ4ODktODQ5OC1kMTE5MWFlODU0MGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.nLD9EVIk9xyLPQTGXpJVpA1TOI2STO1-HghlMflASMM");
background-size:cover;
border-radius: 200px;
box-shadow: inset 0px 5px 15px rgba(98, 98, 102, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
cursor: pointer;
    }
#dmlabel:after {
       content: ""; 
       width: 30px;
       height:30px;
       transition:0.7s;
       position: absolute;
       top:-1.5px;
       left:3px;
       background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7eda5add-d31d-410f-9fdc-3f5682890498/dis882k-7ec755f2-a9ad-45cc-8fcf-2bc2c8d4b98f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdlZGE1YWRkLWQzMWQtNDEwZi05ZmRjLTNmNTY4Mjg5MDQ5OFwvZGlzODgyay03ZWM3NTVmMi1hOWFkLTQ1Y2MtOGZjZi0yYmMyYzhkNGI5OGYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.h6E1cH6kM-lFCfLD_j0zBtOKDnafO1yKhmkkZOR8sIk");
       background-repeat: no-repeat;
       background-size:85%;
    }
.dm {
    width:0;
    height:0;
    visibility:hidden;
}
.dm:checked + #dmlabel {
    background:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7eda5add-d31d-410f-9fdc-3f5682890498/dis8j8w-c7c06938-fca1-43cd-b116-ab99ceb75531.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdlZGE1YWRkLWQzMWQtNDEwZi05ZmRjLTNmNTY4Mjg5MDQ5OFwvZGlzOGo4dy1jN2MwNjkzOC1mY2ExLTQzY2QtYjExNi1hYjk5Y2ViNzU1MzEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.IAHhhpHforKHFKTgnd9FRrn1LihNWcP1mqnoFCePhcA");
    background-size:cover;
    background-repeat: no-repeat;
}
.dm:checked + #dmlabel:after {
    left:90px;
    transform: translatex(-100%);
    background:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7eda5add-d31d-410f-9fdc-3f5682890498/dis8829-d6379516-6e63-4ca7-8692-9e1e10583103.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdlZGE1YWRkLWQzMWQtNDEwZi05ZmRjLTNmNTY4Mjg5MDQ5OFwvZGlzODgyOS1kNjM3OTUxNi02ZTYzLTRjYTctODY5Mi05ZTFlMTA1ODMxMDMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.faCKLDXXaaeTxFtvvcTn1DyNYJEfhl38nTzDW_9FtJQ");
    background-repeat: no-repeat;
    background-size:85%;
    }

    /*Color Picker*/

    #color-picker-container {
    text-align: left;
    position: absolute;
    width: 150px;
    background-color:rgb(118, 126, 129);
    margin: 0px 5px;
    border-radius: 5px;
    padding: 4px;
   border:1px solid teal;

}

.titolocp {
color:#b0f3ff;
font-weight: bold;

}
#reset-btn {
width:90px;
font-size: 0.7rem;
padding:5px;
}

.color-picker-container label {
    font-size: 0.8rem;
    font-weight: bold;
    color: #b0f3ff;
}

.color-picker-container input {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    padding:0px;
}
.color-picker-container input:hover {
    width:21px;
    height:21px;
}
    body {
    font-family: "Sulphur Point", sans-serif;
    margin: 0;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}
img {
    width:50px;
    transform: translate(0%, 20%);
    animation: floatUpDown 1.5s ease-in-out infinite;
    cursor: pointer;
}
 /* Floating animation */
 @keyframes floatUpDown {
     0% { transform: translate(0%, 10%) translateY(0);}
     50% {transform: translate(0%, 20%) translateY(-10px);
     }
     100% {transform: translate(0%, 10%) translateY(0);}
   }

   header {
    background-color: #5bb1c2;  
    height:170px; 
    display: flex; 
    justify-content: center; 
}
/* Main Contents */
.title {
    font-family: "Sulphur Point", sans-serif;
    font-size: 3rem;
    color: white;
    text-shadow: 0 0px 5px rgba(184, 240, 255, 100);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 20px;
}

/* Logo */
.title img {
    width: 50px;
    animation: floatUpDown 1.5s ease-in-out infinite;
}
#searchBar {
    padding: 6px;
    font-size: 0.8rem;
    max-width: 150px;
    border: 1px solid grey;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    color: #0d616f;
    font-weight: bold;
    margin-top: 30px;
    height: 15px;

}
.line {
    border-bottom:1px solid lightblue;
    margin: 15px auto;
    width:90%;
}

.title2 {
    font-family: "Sulphur Point", sans-serif;
    color:#0a4752;
    font-weight: 700;
    margin-top:3px;
    font-size: 25px;
}
.title3 {
    color:#0a4752;
    margin-top:3px;
    margin-bottom:0px;
}

.exp {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap:2px;

}
#suggestions {
    color:#0a4752;
    font-weight: bold;
}
#suggestionList {
  list-style: none;
  font-weight:bold;
  font-size:18px;
}

input[type="text"], input[type="date"] {
    margin: 3px;
    padding: 8px;
    font-size: 1rem;
    color: rgb(2, 63, 63);
    width: 100%;
    max-width: 250px;
    font-weight: bold;
}
#buyItemName {
    margin-top:-10px;
    width:135px;
}
#quantity {    
    margin: 3px;
    padding: 8px;
    font-size: 1rem;
    width:25px;
}

.btns {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin:3px;
    padding: 8px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 2px;
    width: 120px;
    max-width: 250px;
}
button:hover:not(#show) {
            box-shadow: 0px 2px 4px rgba(132, 132, 132, 0.7);
        }

.mostrabtn {

    background: orange;
}

.deletebtn {
    background: red;
}

.deleteBtnStyle {
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    width: 65px;
    display: inline-block;
    text-align: center;
}

.red {
    color: red;
    background-color: rgb(255, 216, 216);
    font-weight: bolder;
}
.red2 {
    color: red;
    background-color: rgb(255, 216, 216);
    font-weight: bolder;
    border:2px solid red;
}

.hidden {
    display: none;
}

table {
    margin: 10px auto;
    width: 90%;
    max-width: 100dvw;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden; 
    font-weight: bold;
}

th, td {
    padding: 8px;
    text-align: left;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background-color: #5bb1c2;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    font-family: "Quicksand", serif;
    font-weight:bolder;
}

td {
    border: none;
    border-bottom: 1px solid lightblue;
    font-family: "Quicksand", serif;
    font-weight:bolder;
}
.box {
    justify-content: center;
    display:flex;
    flex-direction: row;
    gap:0px;
    width:90%;
    margin:0 auto;
}
.b1 {
    width:50%;
}

tr {
    border-bottom: 1px solid lightblue;
}

/* Specific Width for the column "Delete" */
#buyItemTable td:last-child,
#buyItemTable th:last-child {
    width: 85px;
}
#objectTable td:last-child, #objectTable th:last-child {
    width:85px;
}



/* Media Query for mobiles - 480px */
@media (max-width: 480px) {
   #show {
    font-size: 19px;
    background:transparent;
    width:50px;
    height:50px;
    position: absolute;
    right:0;
    top:-5px;
    box-shadow: rgba(255,255,255,0.8);
   }

    #show:hover {
      font-size: 27px;
    }

    .color-picker-container {
        display:none;

    }
    /* Sidebar Styles */
    #customBox {
        position: fixed;
        top: 0; 
        right:-300px; /* Initially hide on the right */
        width: 95px;
        height: 100%;
        background-color: #333;
        color: white;
        transition: right 0.3s ease-in-out; /* Smooth transition */
        padding: 20px;
        z-index: 400;
    }

    #customBox.active {
        right: 0; /* Move to the right when active */
    }

    #customBox .custom-box {
        margin-bottom: 2px;
        margin-top:1px;
    }

    #customBox .color-picker-container {
        width: 180px;
    }

    /* Sidebar Button */
    #show {
        font-size: 20px;
        color: #bbe7ff;
        background-color: none;
        border: none;
        cursor: pointer;
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 1000;
    }
    .p1 {
color: #c4f8ff;
margin-top: 45px;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 2px; 
    }
    .p2 {
        display:none;
    }
  #dmlabel {
right:3px;
    }
    header {
        height:130px;
    }
    .title {
        font-size: 2rem;
    }

    input[type="text"], input[type="date"], button {
        font-size: 0.9rem;
        width: 25%;
    }


    button {
        width: 100px;
    }
    button:hover:not(#show) {
        box-shadow: 0px 2px 4px rgba(132, 132, 132, 0.7);
        }

    table {
        width: 100%;
        max-width: none;
    }

    th, td {
        font-size: 0.9rem;
    }

    #searchBar {
        position:relative;
    left:20px;
        margin-top:10px;
        width: 50%;
        max-width: 150px;
        height:10px;
    }

.box {
    flex-direction: column;
    width:100%;

}
.b1 {
    margin:0 auto;
    width:90%;
}
}
