#show {
  font-size: 19px;
  background: transparent;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: -5px;
  transition: font-size 0.2s ease; /* Aggiungi una transizione per l'hover */
}
#show:hover {
  font-size: 25px;
}
#language-icon {
  width: 30px;
  height: 20px;
  border-radius: 3px;
}
#language-icon:hover {
  width: 35px;
  height: 25px;
}


.checkBtnStyle {
  width:50px;
  font-size: 14px; /* Riduce la dimensione del testo */
  padding: 2px; /* Riduce lo spazio interno */
  border: none; /* Rimuove il bordo */
  background-color: transparent; /* Rimuove lo sfondo */
  cursor: pointer; /* Aggiunge il cursore a forma di mano */
}

.checkBtnStyle:hover {
  background-color: transparent; /* Cambia colore di sfondo al passaggio del mouse */
  border-radius: 5px; /* Rende il bordo arrotondato */
  box-shadow: none;
}

/* Sidebar Styles */
#customBox {
  position: fixed;
  top: 0;
  right: -300px; /* Initially hide on the right */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: right 0.3s ease-in-out; /* Smooth transition */
  padding: 15px;
}

#customBox.active {
  right: 0; /* Move to the right when active */
}

#customBox .custom-box {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  width:100%;
  margin-bottom: 3px;

}
.pdm {
  display:flex;
  flex-direction: row;
  gap:10px;

}

.p1 {
  width:50%;
  text-align: left;
  color: #99f3ff;
  margin-top: 15px;
  text-transform: uppercase;
  margin-bottom: 0;
}


/* Sidebar Button */
#show {
  font-size: 30px;
  color: #bbe7ff;
  background-color: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

/* Reduce the space between the Change Language and Dark Mode sections */
#customBox .custom-box:first-of-type {
  margin-bottom: 40px; /* Remove the space below the language icon */
}

#customBox .custom-box:last-of-type {
  margin-top: 0; /* Remove the space above the dark mode section */
}

.custom-box {
  display: flex;
  margin-bottom: 3px; /* Space between each custom-box */
}

/* LOGIN FORM*/
#login {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 3px;
  justify-content: flex-start;
}

#loginForm,
#profile {
  display: none;
}
#totalsBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap:9px;
}

.tb1 {
  display:flex ;
  flex-direction: column;
  width:30%;


}
.tb1 p {
  margin: 0;
}

.tb2 {
  width:40%;
  font-size: 1.4em;
}

.tb2 a {
  color: white;
  text-decoration: none;

}
.tb2  a:hover {
    cursor: pointer;
    color:#4caf50;
  }




#loginBtn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#profile {
  cursor: pointer;
  font-size: 1.3em;
  color: white;
  background-color: #4caf50;
  padding: 8px 4px;
  border: none;
  width:30%;
  border-radius: 5px;
  align-items: center;
 
}
#profile span {
  margin: 0;
  padding: 0;
}
#profile:hover {
  background-color: #45a049;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  color: black;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* Per posizionare l'icona X dentro il popup */
  width: 20em;
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  color: black;
}
.close-btn:hover {
  color: red; /* Cambia colore al passaggio del mouse */
}
.close-btn2 {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  color: black;
}
.close-btn2:hover {
  color: red; /* Cambia colore al passaggio del mouse */
}
.popup #username {
  width: 20em;
  padding: 10px;
  margin: 10px 0;
}
.popup #email {
  width: 18.6em;
  padding: 10px;
  margin: 10px 0;
}
#logoutPopup {
  display: flex;
}

/*Dark Mode*/

.dark-mode {
  background-color: #547d8d;
  color: white;
}

.dark-mode header {
  background-color: #2c424a;
}

.dark-mode th {
  background-color: #2e5558;
  color: #def2f1;
}

/* Titles */
body.dark-mode .title {
  color: #ebfdff;
  text-shadow: 0 0 5px rgba(184, 240, 255, 0.8);
}
body.dark-mode .title2,
body.dark-mode .title3 {
  color: #17252a;
}
.dark-mode .line {
  border-color: #17252a;
}

.dark-mode table {
  border-color: #17252a;
  background-color: rgba(202, 231, 235, 0.404);
  color: #17252a;
}

.dark-mode .red {
  color: rgb(118, 7, 7);
  background-color: rgba(247, 148, 148, 0.678);
  font-weight: bolder;
}

.dark-mode button {
  background-color: #3c8545;
  color: #def2f1;
  box-shadow: 0px 0px 3px #333c41;
}

.dark-mode #suggestions {
  color: #17252a;
}

.dark-mode .deletebtn {
  background-color: #8e2222;
  color: #def2f1;
}

.dark-mode .mostrabtn {
  background-color: #cb9319;
  color: #def2f1;
}

/* Input */
body.dark-mode input[type="text"],
body.dark-mode input[type="date"],
body.dark-mode input[type="number"] {
  background-color: rgba(202, 231, 235, 0.404);
  color: #17252a;
  border: 1px solid #555;
  padding: 8px;
  border-radius: 4px;
}

body.dark-mode input[type="text"]:focus,
body.dark-mode input[type="date"]:focus,
body.dark-mode input[type="number"]:focus {
  border-color: #409198; /* Blu chiaro per il bordo quando è in focus */
  outline: none;
}

/* DarkMode box */

#dmlabel {
  top: -10px;
  margin-left: 5px;
  width: 90px;
  height: 30px;
  display: block;
  position: relative;
  background: url("../img/darkmode_resources/dmlabel1.webp");
  background-size: cover;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(98, 98, 102, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
#dmlabel:after {
  content: "";
  width: 30px;
  height: 30px;
  transition: 0.7s;
  position: absolute;
  top: -1.5px;
  left: 3px;
  background: url("../img/darkmode_resources/dmlight.webp");
  background-repeat: no-repeat;
  background-size: 85%;
}
.dm {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dm:checked + #dmlabel {
  background: url("../img/darkmode_resources/dmdark.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.dm:checked + #dmlabel:after {
  left: 90px;
  transform: translatex(-100%);
  background: url("../img/darkmode_resources/dmmoon.webp");
  background-repeat: no-repeat;
  background-size: 85%;
}


body {
  font-family: "Sulphur Point", sans-serif;
  margin: 0;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}
img:not(#language-icon) {
  width: 1.2em;
  transform: translate(0%, 20%);
  animation: floatUpDown 1.5s ease-in-out infinite;
  cursor: pointer;
}
img:not(#language-icon):hover {
  animation: flip;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-style: preserve-3d;
}
@keyframes flip {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotateY(1080deg);
  }
}
/* Floating animation */
@keyframes floatUpDown {
  0% {
    transform: translate(0%, 10%) translateY(0);
  }
  50% {
    transform: translate(0%, 20%) translateY(-10px);
  }
  100% {
    transform: translate(0%, 10%) translateY(0);
  }
}

header {
  background-color: #5bb1c2;
  height: 170px;
  display: flex;
  justify-content: center;
}
.htit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Main Contents */
.title {
  font-family: "Sulphur Point", sans-serif;
  font-size: 3rem;
  color: white;
  text-shadow: 0 0px 5px rgba(184, 240, 255, 100);
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 80%;
  margin-top: 10px;
}

/* Logo */
.title img {
  animation: floatUpDown 1.5s ease-in-out infinite;
}
#searchBar {
  font-size: 0.8rem;
  max-width: 150px;
  border: 1px solid grey;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  color: #0d616f;
  font-weight: bold;
  height: 20%;
  margin-bottom: 20px;
}
.line {
  border-bottom: 1px solid lightblue;
  margin: 15px auto;
  width: 90%;
}

.title2 {
  font-family: "Sulphur Point", sans-serif;
  color: #0a4752;
  font-weight: 700;
  margin-top: 3px;
  font-size: 1.5rem;
}
.title3 {
  color: #0a4752;
  margin-top: 3px;
  margin-bottom: 0px;
}

.exp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 2px;
}
#suggestions {
  color: #0a4752;
  font-weight: bold;
}
#suggestionList {
  list-style: none;
  font-weight: bold;
  font-size: 1.15rem;
  text-align: center;
}

input[type="text"],
input[type="date"] {
  margin: 3px;
  padding: 8px;
  font-size: 1rem;
  color: rgb(2, 63, 63);
  width: 100%;
  max-width: 250px;
  font-weight: bold;
}
#buyItemName {
  margin-top: -10px;
  width: 135px;
}
.input-error {
  border: 2px solid red;
}
#quantity {
  margin: 3px;
  padding: 8px;
  font-size: 1rem;
  width: 25px;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  margin: 3px;
  padding: 8px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  text-shadow: 0px 0px 2.5px #333;
  border: none;
  border-radius: 2px;
  width: 110px;
  max-width: 250px;
}
button:hover:not(#show, #change-lang-button) {
  box-shadow: 0px 2px 4px rgba(132, 132, 132, 0.7);
}
#change-lang-button {
  width: 50px;
  background: none;
  padding: 3px;
}
.mostrabtn {
  background: orange;
}

.deletebtn {
  background: red;
}

.deleteBtnStyle {
  background-color: red;
  color: white;
  font-size: 15px;
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
  width: 65px;
  display: inline-block;
  text-align: center;
}

.red {
  color: red;
  background-color: rgb(255, 216, 216);
  font-weight: bolder;
}
.red2 {
  color: red;
  background-color: rgb(255, 216, 216);
  font-weight: bolder;
  border: 2px solid red;
}

.hidden {
  display: none;
}

table {
  margin: 10px auto;
  width: 90%;
  max-width: 90dvw;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  font-weight: bold;
}

th,
td {
  padding: 5px;
  text-align: left;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td:first-child {
  width:100px;
}
td:nth-child(2) {
  width:10px;
}

th {
  background-color: #5bb1c2;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-family: "Quicksand", serif;
  font-weight: bolder;

}
#buyItemTable td:nth-child(2) {
    width:5%;
}
#buyItemTable th:nth-child(2) {
   width:5%;
}


td {
  border: none;
  border-bottom: 1px solid lightblue;
  font-family: "Quicksand", serif;
  font-weight: bolder;
 
}
.box {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 0px;
  width: 90%;
  margin: 0 auto;
}
.b1 {
  width: 50%;
}

tr {
  border-bottom: 1px solid lightblue;
}

/* Specific Width for the column "Delete" */
#buyItemTable td:last-child,
#buyItemTable th:last-child {
  width: 10%;
}
#buyItemTable th:nth-child(2) {
  max-width: 8%;
}
#objectTable td:last-child,
#objectTable th:last-child {
  width: 10%;
    
}
.priority-text {
  margin-left: 10px;
  font-size: 18px;
}

.priority-text.high {
  color: red; /* Pallino rosso per alta priorità */
}

.priority-text.medium {
  color: yellow; /* Pallino giallo per priorità media */
}

.priority-text.none {
  color: transparent; /* Pallino trasparente per nessuna priorità */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* Media Query for mobiles - 480px */
@media (max-width: 480px) {
 .tb1 {
  border:none;
  gap:2px;
}
  .tb2 {
width:60%;
  }

  #show:hover {
    font-size: 27px;
  }

  /* Sidebar Styles */
  #customBox {
    position: fixed;
    top: 0;
    right: -350px; /* Initially hide on the right */
    width: 280px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: right 0.3s ease-in-out; /* Smooth transition */
    padding: 20px;
    z-index: 400;
  }

  #customBox.active {
    right: 0; /* Move to the right when active */
  }

  #customBox .custom-box {
    margin-bottom: 2px;
    margin-top: 1px;
  }

  /* Sidebar Button */
  #show {
    font-size: 20px;
    color: #bbe7ff;
    background-color: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1000;
  }
  .p1 {
    color: #c4f8ff;
    margin-top: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1px;
  }
  .p2 {
    display: none;
  }
  #dmlabel {
    right: 3px;
  }
  header {
        height: 140px;
  }
  .title {
    font-size: 2rem;
    padding:4px;
  }

  #objectName,
  input[type="date"],
  button {
    font-size: 0.9rem;
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
  }

  button {
    width: 100px;
  }
  button:hover:not(#show) {
    box-shadow: 0px 2px 4px rgba(132, 132, 132, 0.7);
  }


  th,
  td {
    font-size: 0.9rem;
  }

  #searchBar {
    position: relative;
    left: 20px;
    margin-top: 10px;
    width: 50%;
    max-width: 150px;
    height: 10px;
    margin-bottom: 20px;
  }

  #boxElements {
  margin: 0px auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap:15px;
}

#boxElements div {
  margin:0px auto;
}
.b1 {
  width:98%;
}
.title3 {
  margin-bottom:6px;
}

  .boxbuy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 5px;
  }
 .boxbuy #buyItemName {
    width: 35%;
  }
  .boxbuy label {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .boxbuy input,
  .boxbuy select,
  .boxbuy button {
    margin: 0;
    padding: 5px;
  }

  #login {
    display: flex;
    gap:20px;
    justify-content: left;
    width:100%;
   
  }
  #profile {
    width:40%;

  }
  #logotitle {
    size: 1em;
  }
}
.storageBtnStyle {
  background-color: transparent; /* Nessun colore di sfondo */
  border: none;                  /* Nessun bordo */
  cursor: pointer;               /* Mostra la manina al passaggio */
  font-size: 16px;               /* Opzionale: dimensione più leggibile */
}