<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.example.munchly" version="1.0.11" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Munchly</name>
  <description>Sample Apache Cordova App</description>
  <author email="dev@cordova.apache.org" href="https://cordova.apache.org">&#xD;
        Apache Cordova Team&#xD;
    </author>
  <icon src="www/img/icon.png"/>
  <platform name="android">
    <preference name="android-targetSdkVersion" value="34"/>
    <preference name="android-minSdkVersion" value="21"/>
    <preference name="android-compileSdkVersion" value="34"/>
    <preference name="AndroidPersistentFileLocation" value="Compatibility"/>
    <permission name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <permission name="android.permission.READ_EXTERNAL_STORAGE"/>
  </platform>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <content src="index.html"/>
</widget>