<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.munchly" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Munchly</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <!-- Icona dell'app -->
    <icon src="www/img/icon.png" />

    <!-- Preferenze per la gestione della versione SDK Android -->
    <platform name="android">
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="android-minSdkVersion" value="21" />
        <preference name="android-compileSdkVersion" value="34" />

        <!-- Permessi per la lettura e scrittura dei file -->
        <permission name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <permission name="android.permission.READ_EXTERNAL_STORAGE" />

        <!-- Preferenza per la compatibilità dei file persistenti su Android -->
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    </platform>

    <!-- Permessi per aprire link esterni -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Contenuto dell'app -->
    <content src="index.html" />
</widget>
